body {
    margin: 0px;
    padding-top: 100px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    height: 80px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(148,148,148,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(148,148,148,1);
    box-shadow: 0px 1px 5px 0px rgba(148,148,148,1);
    z-index: 1;
}

iframe.navbar {
    overflow: hidden;
    border: none;
    padding: none;
    width: 100%;
    height: 100%;
}

div#page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 0;
}

div#location-bar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px #C2C2C2;
    -moz-box-shadow: 0px 0px 10px 0px #C2C2C2;
    -o-box-shadow: 0px 0px 10px 0px #C2C2C2;
    box-shadow: 0px 0px 10px 0px #C2C2C2;
    width: auto;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    font-size: 16px;
    padding: 15px;
    vertical-align: middle;
}

div#main-content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.icon {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    line-height: normal;
    vertical-align: middle;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1, h2, h3{
    color: #2B5FA6;
}

h1 {font-size: 25px;}

h2 {font-size: 22px;}

h3 {font-size: 20px;}

h4 {font-size: 18px;}

h5 {font-size: 16px;}

a:link {color: #438DDA;}
a:visited {color: #438DDA;}

div.separator-blank {height: 20px;}

div.separator-line {
    height: 1px;
    width: auto;
    background-color: #525252;
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    line-height: 1.5;
}